@charset "utf-8";
/* CSS Selector Exercise */

/* 1) Use the attribute selector to apply these styles to the list images*/
img[alt=beet] {
	clip:rect(30px,215px,80px,165px);
	left:-165px;
	top:-30px;
}
img[alt=carrot] {
	clip:rect(30px,75px,80px,25px);
	left:-25px;
	top:30px;
}
img[alt=potato] {
	clip:rect(30px,285px,80px,235px);
	left:-235px;
	top:90px;
}
img[alt=pumpkin] {
	clip:rect(30px,360px,80px,310px);
	/* add the left and top styles needed to continue the pattern */
	left:-310px;
	top:150px;
}
img[alt=broccoli] {
 	/* add the clip, left, and top styles needed to continue the pattern */
	clip:rect(30px,430px,80px,380px);
	left:-380px;
	top:210px;
}

/* 2) Assign a background color to every other veggie paragraph - #CF9 and #CCF - using the nth-child pseudo-class */
section p:nth-child(4n+2) {
	background-color: #cf9;
}
section p:nth-child(4n) {
	background-color: #ccf;
}

/* 3) Hide all veggie paragraphs, but leave space for them (compare display:none vs visibility:hidden)*/
img+p { visibility: hidden; }


/* 4) Use the hover psuedo-class to show the veggie paragraph when the mouse is over its image */
img:hover+p { visibility: visible; }

/* hide the directions at the top of the page */
h1+p {
	display: none;
}

/* DO NOT CHANGE - Base formatting styles below - DO NOT CHANGE  */
section{position:relative;width:500px}
img{position:absolute;}
img+p {width:380px;margin:15px 0 15px 70px;padding:10px 15px;}