/* Overall formatting */
html {
    background-color: #e7e7e7;
}

body {
    padding: 2.5% 2.5% 2%;
    font: 1.2em 'Lora', Palatino, serif;
	color: #2F343B; /* nearly black with a hint of blue */
    /*font-size: 1.2em;*/
    max-width: 1280px;
    margin: auto;
}

header, nav {
    background-color: #E3CDA4; /* light tan */
}

header {
    border-bottom: none;
    margin-bottom: 0;
    text-align: center;
    min-height: 180px;
    position: relative; /* set up header so social can be positioned relative to it. */
    border-radius: 10px 10px 0 0;
    background-image: url(../images/Icon180.png);
    background-repeat: no-repeat;
    padding: 2em 1em 0.5em 5em;
}
header section {
    display: inline-block;
}


/* Navigation formatting */
nav {
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0 0 10px 10px;
}

nav h2 {
    display: none;
}

nav ul {
    list-style-type: none;
    padding-left: 2px;
    margin-top: 0em;
    margin-bottom: 0em;
}

nav li {
    display: inline-block;
    vertical-align: top;
    margin: 0.4em 0;
}

nav a:link, nav a:visited {
    font-family: Cambria, "Times New Roman", serif;
    font-size: 1.5em;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    background-color: #e7e7e7;
    border: solid 1px;
    color: #274167;
    text-align: center;
    padding: 5px 10px;
}

nav #current {
    background-color: #e7e7e7;
    color: #703030; /* dark burgundy */
    border: solid 2px;
}

nav a:hover, nav a:active {
    background-color: #D4D8D6;
    color: #274167; /* dark navy */
    border: solid 2px;
}

/* Content formatting */
section#content {
    background-color: rgba(232,228,235,.25);
    margin-top: 1em;
    padding: 0 1em 0.1em 1em;
    border-radius: 5px;
}

section#content:after {
    clear: both;
}

section.thumbnail {
    max-width: 220px;
    border: solid 2px #40393C;
    display: inline-block;
}

/* Footer formatting */
footer {
	font-size: 0.9em;
    background-color: #E3CDA4;
    margin-top: 1em;
    padding-bottom: .25em;
    padding-top: .5em;
    border-radius: 10px;
}

footer p {
    margin: .5em;
}

#contact > * {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
h1, h2, h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2em;
    color: #703030; /* dark burgundy */
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}

/* link formatting */
a:link {
	color: #344d73;
}

a:visited, a:focus, a:hover, a:active {
	color: #1c5258;
}

.see-through {
    opacity: 0.8;
    float: left;
	margin:0em 2em 2em 0em;
}

.bold, strong {
    font-weight: bold;
}

.slant {
    font-style: italic;
}

/* dl formatting */
dt {
	color: #274167; /* deep navy */
	font-style: italic;
}

/* table formatting */
table, th, td {
    border-style: groove;
	border-color: #274167;
}

th, td {
	padding: 15px;
}

caption {
	color: #445544;
	font-weight: bold;
}

img { max-width: 100%; }

/* Bibliography formatting */
ol.biblio {
	list-style: none;
}

ol.biblio li {
    padding-bottom: .8em;
	margin-left: 2em;
	text-indent: -2em;
}

